<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845298969016-rh0phaqm33hekfiqgbol6jg419u0ir0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845298969016-rh0phaqm33hekfiqgbol6jg419u0ir0d</string>
	<key>API_KEY</key>
	<string>AIzaSyDGAjzy98FjbqgiGm8Z491JsPwJNMS3XYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>845298969016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.memo.jp</string>
	<key>PROJECT_ID</key>
	<string>memo-9a6da</string>
	<key>STORAGE_BUCKET</key>
	<string>memo-9a6da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845298969016:ios:2a62ce11f10686a516474d</string>
	<key>DATABASE_URL</key>
	<string>https://memo-9a6da.firebaseio.com</string>
</dict>
</plist>